<div class="waypoint" data-waypointer="<%= crawl_stop.id %>">
  <a href="#" id="awp<%= crawl_stop.id %>" />
  <img src="http://abduzeedo.com/files/originals/9/942fa71de716b9ba49ed97f921b4daeb.jpg" width="100%" max-height="600px" />
  <ul>
    <li>item 1</li>
    <li>item 2</li>
    <li>item 3</li>
  </ul>
</div>
