<p id="notice"><%= notice %></p>

<p>
  <strong>Store service:</strong>
  <%= @store.store_service_id %>
</p>

<%= link_to 'Edit', edit_crawl_store_path(@crawl, @store) %> |
<%= link_to 'Back', crawl_stores_path(@crawl) %>
